/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 4%;
    background-color: #FC937A;
    color: #fff;
    text-align: left;
    padding: 15px;
}

main {
    padding: 1rem;
}

.search-section {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px !important;

}

button:first-child {
    background-color: #f15a24 !important;
    color: white;
}

button:nth-child(2) {
    background-color: #f1a24e !important;
    color: white;
}

.account-section form {
    display: grid;
    gap: 0.75rem;
    width: 40%;
    margin-left: 100px;
}

.button-group {
    display: flex;
    gap: 0.5rem;
}

.button-group button {
    background-color: #f15a24;
    color: white;
}

input[type="text"] {
    background-color: #fc947a62;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-color: #f15a24;
    outline: none;
}
